.lesson {
  color: darkblue;
  background-color: white;
}

.title {
  background-color: lemonchiffon;
}

.email {
  color: darkslateblue;
  background-color: lemonchiffon;
}

.github {
  color: darkslateblue;
  background-color: orange;
}

.portfolio {
  color: darkslateblue;
  background-color: darkorange;
}




